


.owl-carousel  {
    touch-action: manipulation;
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}




.owl-carousel  {
    touch-action: manipulation;
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}



.owl-carousel .owl-stage  {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}



.owl-carousel .owl-stage  {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}



.owl-carousel .owl-stage:after  {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



.owl-carousel .owl-stage:after  {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



.owl-carousel .owl-stage-outer  {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}



.owl-carousel .owl-stage-outer  {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}



.owl-carousel .owl-wrapper,
.owl-carousel .owl-item  {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}



.owl-carousel .owl-wrapper,
.owl-carousel .owl-item  {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}



.owl-carousel .owl-item  {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}



.owl-carousel .owl-item  {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}



.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled  {
    display: none !important;
}



.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled  {
    display: none !important;
}



.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot  {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot  {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.owl-carousel .owl-dots  {
    display: flex;
    justify-content: center;
    margin: 1rem;
}



.owl-carousel .owl-dots  {
    display: flex;
    justify-content: center;
    margin: 1rem;
}



.owl-carousel .owl-dot  {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0;
    background: #D6D6D6;
    padding: 0;
    margin: 0 2px;
}



.owl-carousel .owl-dot  {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0;
    background: #D6D6D6;
    padding: 0;
    margin: 0 2px;
}



.owl-carousel .owl-dot.active  {
    background: #818F84;
}



.owl-carousel .owl-dot.active  {
    background: #818F84;
}



.owl-carousel.owl-loaded  {
    display: block;
}



.owl-carousel.owl-loaded  {
    display: block;
}



.owl-carousel.owl-loaded  {
    display: block;
}



.owl-carousel.owl-loading  {
    opacity: 0;
    display: block;
}



.owl-carousel.owl-loading  {
    opacity: 0;
    display: block;
}



.owl-carousel.owl-hidden  {
    opacity: 0;
}



.owl-carousel.owl-hidden  {
    opacity: 0;
}



.owl-carousel.owl-refresh .owl-item  {
    visibility: hidden;
}



.owl-carousel.owl-refresh .owl-item  {
    visibility: hidden;
}



.owl-carousel.owl-drag .owl-item  {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.owl-carousel.owl-drag .owl-item  {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.owl-carousel.owl-grab  {
    cursor: move;
    cursor: grab;
}



.owl-carousel.owl-grab  {
    cursor: move;
    cursor: grab;
}



.owl-carousel.owl-rtl  {
    direction: rtl;
}



.owl-carousel.owl-rtl  {
    direction: rtl;
}



.owl-carousel.owl-rtl .owl-item  {
    float: right;
}



.owl-carousel.owl-rtl .owl-item  {
    float: right;
}



.no-js .owl-carousel  {
    display: block;
}



.no-js .owl-carousel  {
    display: block;
}



.owl-carousel .animated  {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}



.owl-carousel .animated  {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}



.owl-carousel .owl-animated-in  {
    z-index: 0;
}



.owl-carousel .owl-animated-in  {
    z-index: 0;
}



.owl-carousel .owl-animated-out  {
    z-index: 1;
}



.owl-carousel .owl-animated-out  {
    z-index: 1;
}



.owl-carousel .fadeOut  {
    animation-name: fadeOut;
}



.owl-carousel .fadeOut  {
    animation-name: fadeOut;
}



.owl-carousel .owl-item .owl-lazy  {
    opacity: 0;
    transition: opacity 400ms ease;
}



.owl-carousel .owl-item .owl-lazy  {
    opacity: 0;
    transition: opacity 400ms ease;
}



.owl-carousel .owl-item img.owl-lazy  {
    transform-style: preserve-3d;
}



.owl-carousel .owl-item img.owl-lazy  {
    transform-style: preserve-3d;
}



.owl-carousel .owl-video-wrapper  {
    position: relative;
    height: 100%;
    background: #000;
}



.owl-carousel .owl-video-wrapper  {
    position: relative;
    height: 100%;
    background: #000;
}





.owl-carousel .owl-video-play-icon:hover  {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}





.owl-carousel .owl-video-play-icon:hover  {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}



.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon  {
    display: none;
}



.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon  {
    display: none;
}



.owl-carousel .owl-video-tn  {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}



.owl-carousel .owl-video-tn  {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}



.owl-carousel .owl-video-frame  {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}



.owl-carousel .owl-video-frame  {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}



.abhaya  {
    font-family: 'Abhaya Libre', serif !important;
}



  .owl-carousel .owl-dot.active  {
    background-color: #818F84 !important;
}



  .owl-carousel .owl-dot.active  {
    background-color: #818F84 !important;
}



  .owl-carousel .owl-dot  {
    background: #D6D6D6 !important;
    opacity: .5;
}



  .owl-carousel .owl-dot  {
    background: #D6D6D6 !important;
    opacity: .5;
}



  .owl-carousel .owl-dot.active  {
    opacity: 1;
}



  .owl-carousel .owl-dot.active  {
    opacity: 1;
}



.about-pt--btn:hover,
.view-all-btn:hover,
.section--filter-link:hover,
.sec-about--btn:hover,
#videos #tags a#cat_6:hover,
.videos-categories.margin-ver-3 a:hover,
.right-widget-hover:hover,
.btn-wanttosell-hover:hover  {
    background-color: #B93006 !important;
    color: #FFF !important;
}



.card-md-deck  {
    margin: auto;
}




.card-md-deck  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



.card-md-deck .card  {
    margin-bottom: 15px;
}



.card-md-deck .card p  {
    height: 8rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
}



.card-md-deck  {
    margin-bottom: 3rem;
}



  .card-md-deck .card  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 15px;
}



.owl-carousel  {
    display: block !important;
}



.owl-carousel  {
    display: block !important;
}




.sec-about  {
    padding-top: 4rem;
    padding-bottom: 4rem;
}



.hot-properties-subtitle  {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 65px;
}



.aboutpt-header  {
    color: #333;
    font-size: 2.9rem;
}



.aboutpt-header b  {
    font-size: 2.9rem;
    color: #5e5a59;
}



.aboutpt-header strong  {
    color: #5e5a59;
}




.hot-properties-subtitle  {
    color: #000;
}



.hot-properties-subtitle strong  {
    color: #5e5a59;
}



.page-content-container .owl-carousel .owl-item .property-box  {
    width: 97.5% !important;
}



.page-content-container .owl-carousel .owl-item .property-box  {
    width: 97.5% !important;
}



.new-buyerguide .owl-carousel .owl-nav .owl-prev  {
    left: -51px !important;
}



.new-buyerguide .owl-carousel .owl-nav .owl-prev  {
    left: -51px !important;
}



.owl-carousel .owl-item .property-box  {
    width: 100% !important;
    padding: 0 !important;
    float: none !important;
    margin: 0 !important;
}



.owl-carousel .owl-item .property-box  {
    width: 100% !important;
    padding: 0 !important;
    float: none !important;
    margin: 0 !important;
}



.owl-carousel .property-box  {
    width: 25%;
    float: left;
}



.owl-carousel .property-box  {
    width: 25%;
    float: left;
}



[dir='rtl'] .owl-carousel .owl-item .property-box  {
    float: right;
}



[dir='rtl'] .owl-carousel .owl-item .property-box  {
    float: right;
}



#main .owl-carousel .owl-nav .owl-prev,
#main .owl-carousel .owl-nav .owl-next  {
    position: absolute;
    background: #FFF;
    border: .1px solid #ddd;
    padding: 2rem .7rem;
}



#main .owl-carousel .owl-nav .owl-prev,
#main .owl-carousel .owl-nav .owl-next  {
    position: absolute;
    background: #FFF;
    border: .1px solid #ddd;
    padding: 2rem .7rem;
}



#main .owl-carousel .owl-nav .owl-prev  {
    left: -50px;
}



#main .owl-carousel .owl-nav .owl-prev  {
    left: -50px;
}



#main .owl-carousel .owl-nav .owl-next  {
    right: -50px;
}



#main .owl-carousel .owl-nav .owl-next  {
    right: -50px;
}



#main .card-imageSlider--carousel .owl-stage,
#main .card-imageSlider--carousel .owl-item,
#main .owl-carousel .owl-stage-outer  {
    height: 100%;
    width: 100%;
}



#main .card-imageSlider--carousel .owl-stage,
#main .card-imageSlider--carousel .owl-item,
#main .owl-carousel .owl-stage-outer  {
    height: 100%;
    width: 100%;
}



#main .card-imageSlider--carousel .owl-nav  {
    top: calc(50% - 1.5rem) !important;
    width: 90%;
    margin: auto;
    right: 0;
    left: 0;
    display: block;
}



#main .card-imageSlider--carousel .owl-nav .owl-prev,
#main .card-imageSlider--carousel .owl-nav .owl-next  {
    color: #fff;
}



.cameron-section-aboutus .owl-carousel .owl-dot.active  {
    background-color: #a02905 !important;
}



.cameron-section-aboutus .owl-carousel .owl-dot.active  {
    background-color: #a02905 !important;
}



.cameron-section-aboutus .owl-carousel .owl-dot  {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(112, 112, 112, 0.38);
}



.cameron-section-aboutus .owl-carousel .owl-dot  {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(112, 112, 112, 0.38);
}



#tv-topvideo .owl-carousel .owl-nav .owl-prev,
#tv-topvideo .owl-carousel .owl-nav .owl-next  {
    position: absolute;
    background: #f7f5f2;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: unset;
    outline: none;
    right: -4rem;
    top: 0.7rem;
}



#tv-topvideo .owl-carousel .owl-nav .owl-prev,
#tv-topvideo .owl-carousel .owl-nav .owl-next  {
    position: absolute;
    background: #f7f5f2;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: unset;
    outline: none;
    right: -4rem;
    top: 0.7rem;
}



#tv-topvideo .owl-carousel .owl-nav .owl-prev  {
    left: auto;
    right: -4%;
    top: 0.7rem;
}



#tv-topvideo .owl-carousel .owl-nav .owl-prev  {
    left: auto;
    right: -4%;
    top: 0.7rem;
}



#tv-topvideo .owl-carousel .owl-nav .owl-next:hover i,
#tv-topvideo .owl-carousel .owl-nav .owl-prev:hover i  {
    color: #b93006 !important;
}



#tv-topvideo .owl-carousel .owl-nav .owl-next:hover i,
#tv-topvideo .owl-carousel .owl-nav .owl-prev:hover i  {
    color: #b93006 !important;
}



#new-design-build .owl-carousel .owl-nav .owl-prev  {
    left: 30px;
    background: transparent;
    border: unset;
}



#new-design-build .owl-carousel .owl-nav .owl-prev  {
    left: 30px;
    background: transparent;
    border: unset;
}



#new-design-build .owl-carousel .owl-nav .owl-prev i  {
    color: #fff !important;
}



#new-design-build .owl-carousel .owl-nav .owl-prev i  {
    color: #fff !important;
}



#new-design-build .owl-carousel .owl-nav .owl-next  {
    right: 30px;
    background: transparent;
    border: unset;
}



#new-design-build .owl-carousel .owl-nav .owl-next  {
    right: 30px;
    background: transparent;
    border: unset;
}



#new-design-build .owl-carousel .owl-nav .owl-next i  {
    color: #fff !important;
}



#new-design-build .owl-carousel .owl-nav .owl-next i  {
    color: #fff !important;
}



#new-design-build .owl-carousel .owl-dot.active  {
    background-color: #fff !important;
}



#new-design-build .owl-carousel .owl-dot.active  {
    background-color: #fff !important;
}



  .showMb-hideDt.owl-carousel  {
    display: none !important;
}



  .showMb-hideDt.owl-carousel  {
    display: none !important;
}



  .hideMb-showDt.owl-carousel  {
    display: flex !important;
}



  .hideMb-showDt.owl-carousel  {
    display: flex !important;
}



  .hideMb-showDt.owl-carousel  {
    display: flex !important;
}



  .hideMb-showDt.owl-carousel  {
    display: flex !important;
}



  .showMb-hideDt.owl-carousel  {
    display: none !important;
}



  .showMb-hideDt.owl-carousel  {
    display: none !important;
}



  .sec-about .mt-4  {
    margin-top: 2rem;
}



  .showMb-hideDt.owl-carousel  {
    display: flex !important;
}



  .showMb-hideDt.owl-carousel  {
    display: flex !important;
}



  .hideMb-showDt.owl-carousel  {
    display: none !important;
}



  .hideMb-showDt.owl-carousel  {
    display: none !important;
}



  .hot-properties-subtitle  {
    margin: auto;
    margin-bottom: 4rem;
    font-size: 15px;
    line-height: 22px;
}



  #hot-properties .owl-carousel.card-carusal  {
    width: 95%;
    margin: auto;
}



  #hot-properties .owl-carousel.card-carusal  {
    width: 95%;
    margin: auto;
}



  #main .card-imageSlider--carousel .owl-nav  {
    top: 0 !important;
    bottom: 0;
    width: 100% !important;
    display: block;
    margin: auto;
    height: 3rem;
}



[dir='rtl'] #tv-topvideo .owl-carousel .owl-nav .owl-prev  {
    left: 56px;
}



[dir='rtl'] #tv-topvideo .owl-carousel .owl-nav .owl-prev  {
    left: 56px;
}



[dir='rtl'] #tv-topvideo .owl-carousel .owl-nav .owl-next  {
    left: 101px;
}



[dir='rtl'] #tv-topvideo .owl-carousel .owl-nav .owl-next  {
    left: 101px;
}



[lang='ru'] .card-md-deck .card p  {
    height: 12rem;
}



[lang='fa'] body,
[lang='fa'] .abhaya,
[lang='fa'] .raleway,
[lang='fa'] b,
[lang='fa'] .page-title,
[lang='fa'] .roomcard-desc span,
[lang='fa'] .roomcard-desc p,
[lang='fa'] .property_features .cf,
[lang='fa'] .endpage-form h3,
[lang='fa'] header .main-header nav li b,
[lang='fa'] .btn,
[lang='fa'] .tv-endpage h1,
[lang='fa'] .tv-endpage p,
[lang='fa'] .propertynews-title,
[lang='fa'] .propertynews-span,
[lang='fa'] .propertynews-btn a,
[lang='fa'] .widget .title,
[lang='fa'] .widget .body li a  {
    font-family: 'Yekan-Bakh-Regular', sans-serif !important;
}
