.mobile__Header {
    display: none;
}
.MobileNav {
    display: none;
}
@media (max-width:990px) {
    .Header__Open {
        display: none;
    }

    .mobile__Header {
        display: flex;
    }

    .DesktopNav {
        display: none;
    }
    .MobileNav {
        display: block;
    }
    .IconMove {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

/* ------------------------------------------------------------------ */
/* .Mobile_Logo {
    display:none;
}
@media (max-width:600px) {
    .Desktop_Logo {
        display:none;
    }
    .Mobile_Logo {
        display: block;
        width: 150px !important;
        height: 60px !important;
    }
} */

.googleLogoColor {
    background: linear-gradient(
        45deg,
        #4285F4,
        #34A853,
        #FBBC05,
        #EA4335
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}